/*
How to fill the height of div ?
*	https://youtu.be/KgxGJdFhBPA?si=63eKllSjMT0bN7Ru
*/

#main{
	min-height: 100vh;
	display:flex;
	flex-direction:column;
	background-color: chartreuse;
}

#main_body{
	height: 100%;
	min-height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 340px 3fr 250px;
	grid-template-areas: 
	"area_paint area_canvas area_right"
	;
	background-color: chocolate;
	flex:1;
}

.grid_area_item {
	min-width: 250px;
	min-height: 100%;
	max-height: 100%;
}
